.row
  .col-lg-12
    .MainPageHeader
      .MainPageCallToAction
        %div
          Live Wine Country Like a Local.
          %br/
          %br/
          Lunch in the Vineyard?
          %br/
          Candlelit Dinners in a Cellar?  
          %br/
          Find your unique wine country adventures.
          = link_to "Explore", explore_path, class: "btn btn-calltoaction"
    .bar
.row.mainpage-subcontent-row
  .col-lg-4
    = image_tag "pod_one_img.jpg", height: '215', width: '375'
  .col-lg-8
    .mainpage-subcontent
      %h2.title WHAT IS VIGNETTO?
      Vignetto is a new way for people to Live Wine Country Like a Local by experiencing one of our unique experiences in the wine country. Recently launched on exclusively available in the Healdsburg area, we have selected a few Events and Packages to choose from. We also have a waitlisted option available for sold out or upcoming Events and Packages. See below to see the differences between Events and Packages? 
      %br/
      %br/
      Follow us on Facebook or Twitter, or sign up for our mailing list to get alerts on the new, 
      %br/
      great wine country experiences so you too can Live Wine Country Like a Local. 
    = link_to "Newsletter Signup", explore_path, class: "btn btn-subcontent"
.row.mainpage-subcontent-row
  .col-lg-8
    .mainpage-subcontent
      %h2.title EXPLORE EVENTS
      Events are single, unique wine country experiences like having a catered lunch in a vineyard or candlelit dinners in a cellar with world class chefs pairing local ingredients with an exclusive wine selections. Been to a Wine Makers Dinner? This is better! Each experience will have specific pairings picked out by winemaker and chef. Relax in a vineyard or cellar with these personalized events. 
    = link_to "Explore Events Now", explore_path, class: "btn btn-subcontent"
  .col-lg-4
    = image_tag "pod_two_img.jpg", height: '215', width: '375'
    .row.mainpage-subcontent-row
  .col-lg-4
    = image_tag "pod_three_img.jpg", height: '215', width: '375'
  .col-lg-8
    .mainpage-subcontent
      %h2.title PACKAGES
      Packages differ from Events because they combine multiple itinerary items that could include transportation, multiple private tastings, and lunch. A couple can book themselves two seats on a limo bus with three private pinot tastings and lunch, or you sign up for helicopter tours and lunch in a vineyard for four people. Either way, we have unique option for your group of 2 – 10 people can enjoy.
    = link_to "Check out Packages", packages_path, class: "btn btn-subcontent"