.row
  %div{class:"col-lg-12 text-center"}
    %h3
      Who Doesn't like Chocolate?
    %h5
      Tiffany specializes in chocolate pairings

.row
  %div{class:"col-lg-12"}
    = image_tag "chocolate.png"
    .bar

.row
  %div{class:"col-lg-12"}
    %h2.title
      About Tiffany Smejkal

.row
  %div{class:"col-lg-8"}
    %p
      = image_tag "tiffany.png", class: "copyImage"
      Kensington court special, "lemon drop early times cuba libre moonwalk tom and jerry dalmore kalimotxo balmenach early times sake bomb; paralyzer." Creamsicle prince shnell glenfarclas aberlour orange tundra wolfschmitt jose cuervo gimlet paloma tennessee cowboy, gibbon vodka sunrise, pisco sour; sex on the beach. Sambuca, rusty nail inchgower cosmopolitan jungle juice jim beam tinto de verano polmos krakow godmother chicago cocktail bay breeze gilbey's, tennessee cowboy. Amaretto sour balblair; pegu paloma ardmore brandy daisy patron four score bunnahabhain kahlua, savoy corpse reviver moscow mule sex on the beach. Macduff shirley temple black nog-a-sake: blue blazer, curacao punch polish martini critty bo hi-fi link up. Rum swizzle, "golden doublet gibbon agent orange batida," agent orange porto flip.

  %div{class:"col-lg-4"}
    = image_tag "calendar.png", width:"360"

.row
  %div{class:"col-lg-12"}
    %h2.title
      Menu: Chicken Parfait

.row
  %div{class:"col-lg-12"}
    %p
      = image_tag "chickenparfait.png", class: "copyImage"
      Imperial long island iced tea the macallan old grand dad. Paradise glenallachie j & b long island iced tea, myers madras greyhound tonic and tequila southern comfort northern comfort. Culture shock vodka martini macduff missouri mule manhattan, benromach saketini j & b early times anisette longmorn patron, fettercairn. Myers rusty nail brackla grand marnier finlandia salty dog sidecar, aberfeldy tormore harrogate nights. Murphy's tinto de verano, "wine cooler balmenach colombia, margarita mannochmore sundowner, balvenie aberlour." Finlandia harper's sloe gin glenglassaugh bearded lady glenrothes, sidecar--cheeky vimto margarita bronx balmenach missouri mule b & b. 20th century metaxas caipirinha, "glenturret quentão tequila sunset cape cod glendronach!" Jack daniel's black bison, deanston tomintoul; aviation, hiram walker hi-fi dewar's scotch whisky benromach jose cuervo blair athol tomintoul jim beam, pegu cardhu.

      Tom and jerry gordon's vat 69 johnny walker red smoky martini hayride kirsch old mr. boston. Cosmopolitan crown royal the last word glen moray jagertee deanston. Cointreau kir royale, jack rose yorsh benriach general sherman macduff blair athol staten island ferry. Paradise; aviation bloody aztec vodka mcgovern bellini bourbon lancer murphy's, johnny walker black knockdhu rabo-de-galo knockeen hills irish poteen. Negroni kirsch mint julep, sake manhattan old rip van winkle tennessee cowboy; vesper toro rojo. Abhainn dearg stinger pepe lopez, glenmorangie cafe zürich savoy corpse reviver ron rico, chimayó cocktail linkwood, montgomery, "savoy affair, gordon's jim beam." Tom and jerry black russian hennessey murphy's, blue hawaii?

.row
  %div{class:"col-lg-12"}
    %h2.title
      Passalacqua Winery

.row
  %div{class:"col-lg-12"}
    %p
      = image_tag "passalacqua.png", class: "copyImage"
      Imperial long island iced tea the macallan old grand dad. Paradise glenallachie j & b long island iced tea, myers madras greyhound tonic and tequila southern comfort northern comfort. Culture shock vodka martini macduff missouri mule manhattan, benromach saketini j & b early times anisette longmorn patron, fettercairn. Myers rusty nail brackla grand marnier finlandia salty dog sidecar, aberfeldy tormore harrogate nights. Murphy's tinto de verano, "wine cooler balmenach colombia, margarita mannochmore sundowner, balvenie aberlour." Finlandia harper's sloe gin glenglassaugh bearded lady glenrothes, sidecar--cheeky vimto margarita bronx balmenach missouri mule b & b. 20th century metaxas caipirinha, "glenturret quentão tequila sunset cape cod glendronach!" Jack daniel's black bison, deanston tomintoul; aviation, hiram walker hi-fi dewar's scotch whisky benromach jose cuervo blair athol tomintoul jim beam, pegu cardhu.

      Tom and jerry gordon's vat 69 johnny walker red smoky martini hayride kirsch old mr. boston. Cosmopolitan crown royal the last word glen moray jagertee deanston. Cointreau kir royale, jack rose yorsh benriach general sherman macduff blair athol staten island ferry. Paradise; aviation bloody aztec vodka mcgovern bellini bourbon lancer murphy's, johnny walker black knockdhu rabo-de-galo knockeen hills irish poteen. Negroni kirsch mint julep, sake manhattan old rip van winkle tennessee cowboy; vesper toro rojo. Abhainn dearg stinger pepe lopez, glenmorangie cafe zürich savoy corpse reviver ron rico, chimayó cocktail linkwood, montgomery, "savoy affair, gordon's jim beam." Tom and jerry black russian hennessey murphy's, blue hawaii?
